*{margin: 0%;padding: 0%;}
.logo{
	background-color: #000000;
	color: #FFFFFF;
	width: 100mm;
	height: 20vh; 
}
.buttonsection{
	text-align: right;
}
.youtube{
	height: 10vh;
	width: 20mm;
	background-color:  #000000;
	color: #FFFFFF;
}
.github{
	height: 10vh;
	width: 20mm;
	background-color:  #000000;
	color: #FFFFFF;
}
.stackoverflow{
	height: 10vh;
	width: 30mm;
	background-color:  #000000;
	color: #FFFFFF;
}
.middlesection{
	height: 80vh;
	text-align: center;
	color: #FFFFFF;
}
.problem{
    background-image: linear-gradient(#696969,#000000);
    height: 100vh;
}